# Copiar a .env y completar con tus valores

# ID de tu Google Sheet (lo ves en la URL del sheet)
SPREADSHEET_ID=1L22_1omyOo3nrEJJ3fYE_q7OCCmTejIpF3QoVbB1gE4

# Nombre de la pestaña del sheet
SHEET_NAME=Sheet1

# Puerto del servidor
PORT=3000

# Tu nombre para personalizar el CRM
USER_NAME=Benja
AGENCY_NAME=KoreSkill
